* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 300vh;
    background: #288f5f;
}

.container {
    height: 100vh;
}

.section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding-top: 40px;
    grid-gap: -900px;
}

input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    outline: none;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

h3 {
    padding-bottom: 10px;
    font-family: sans-serif;
    color: white;
}

.addbtn {
    padding: 10px 20px;
    background-color: darkorange;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 20px;
}

.addbtn:hover {
    background-color: greenyellow;
    transition-duration: .3s;
}

table {
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    width: 100%;
    height: 60px;
    background-color: yellow;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

td {
    width: 100%;
    height: 30px;
    background-color: yellow;
    margin-bottom: 10px;
}

.edits, .deletes {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.edits {
    background-color: rgb(23, 26, 209);
    margin-left: 40px;
}

.edits:hover {
    background-color: rgb(100, 102, 224);
}

.deletes {
    background-color: rgb(226, 67, 75);
    margin-left: 10px;
}

.deletes:hover {
    background-color: darksalmon;
}

#names, #emails, #ages {
    width: 100%;
    background-color: yellow;
}

.eclass, .aclass, .nclass {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    background-color: yellow;
}

/* Media Query for Mobile View */

@media only screen and (max-width: 600px) {
    th, td {
        width: 100%;
        display: block;
    }

    th {
        height: auto;
    }

    td {
        height: auto;
    }
}
